*{
	padding: 0;
	margin: 0;
}

#map{
	height: 100%;
	width: 100%;
}

#MarkerToggle{
	text-align: center;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 5;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}

#TransportMode{
	color: white;
	text-align: center;
	position: absolute;
	top: 100px;
	left: 10px;
	z-index: 5;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;

}

#TransportMode label,
#TransportMode select{
	display: block;
	margin: 0 auto;
}

#MarkerToggle img{
	max-width: 50px;
}